*{
    box-sizing: border-box;
}
.ancestor-div{
    background-color: #ebebeb;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}
.top-div{
    width: 100%;
    height: 210px;
    border-bottom: 1px solid gray;
    
}
.footer-div{
    width: 100%;
    height: 378px;
}
.row-div{
    width: 70%;
    height: 200px;
    margin-top: 5px;
}