div.ancestor-div{
    width: 900px;
    height: 400px;
}
div.menu-div{
    height: 50px;
    background-color: #333333 ;
}
div.menu-content{
    position: relative;
    left: 1px;
    width: 300px;
    height: 300px;
}
ul.ul-menu{
    list-style-type: none;
    
}
.li-menu {
 float: left; 
}
a.a-menu{
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    
}
.a-menu:hover{
    background-color: #4caf50;
}