div.ancestor-div{
    width: 650px;
    height: 300px;
    /* background-color: #f5f5dd; */
    background-color: grey;
}
div.email-div #input-email{
    border: 1px solid aqua;
    width: 40px;
}
div.password-div #input-password{
    border: 1px solid aqua;
    width: 40px;
}
div.email-div{
    display: inline-block;
}
div.password-div{
    display: inline-block;
}