div.ancestor-div{
    width: 900px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
}
div.menu-div{
    height: 48px;
    background-color: #333333 ;
}
div.menu-content{
    position: relative;
    left: -40px;
    width: 800px;
    height: 48px;
}
div.nested-div{
    width: 680px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    left: 144px;
    top: 80px;
}
div.menu-bootstrap{
    width: 680px;
    height: 40px;
    background-color: #2a3d51;
}
div.menu-bootstrap-content1{
    width: 200px;
    height: 30px;
    position: absolute;
    left: 50px;
    top: 5px;
    background-color: blueviolet;
    text-align: center;
    color: white;
}
div.menu-bootstrap-content2{
    width: 100px;
    height: 40px;
}
ul.ul-menu{
    list-style-type: none;
    
}
.li-menu {
 float: left; 
}
a.a-menu{
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
.a-menu:hover{
    background-color: #4caf50;
}