div.menu-div{
    height: 50px;
    background-color: #333333 ;
}
ul.ul-menu{
    list-style-type: none;
    
}
.li-menu {
 float: left;
 position: relative;
 left: 1px;   
}
a.a-menu{
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.a-menu:hover{
    background-color: greenyellow;
}