div.ancestor-div{
    width: 740px;
    height: 300px;
    /* background-color: #f5f5dd; */
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
div.email-div #input-email{
    
    width: 340px;
    margin-left: 3px;
    border-radius: 3px;
}
div.password-div #input-password{
    
    width: 340px;
    margin-left: 3px;
    border-radius: 3px;
    
}
.label-position{
    position: relative;
    bottom: 5px;
    /* left: 1px; */
}
div.email-div{
    display: inline-block;
    position: relative;
    left: 20px;
    top: 15px;
}
div.password-div{
    display: inline-block;
    position: relative;
    left: 22px;
    top: 15px;
}
div.address1{
    position: relative;
    top: 30px;
    left: 20px;
}
div.address2{
    position: relative;
    top: 50px;
    left: 20px;    
}
div.address1 #input-address1,div.address2 #input-address2{
    width: 500px;
    margin-left: 3px;
    border-radius: 3px;
}